body {
  background: #f4f6f8;
  font-family: Arial;
}

h2 {
  color: #0d6efd;
}

nav a {
  background: #0d6efd;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 4px;
}

nav a:hover {
  background: #084298;
}

table th {
  background: #0d6efd;
  color: white;
}

table {
  background: white;
}
